.App {
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cba1e7;
  position: relative;
}

#text-box {
  position: absolute;
  top: 100px;
  left: 600px;
  width: 600px;
}

#calculator {
  background-color: lightgrey;
  position: absolute;
  left: 5px;
  top: 25px;
  width: 420px;
  height: 700px;
  border-radius: 25px;
}

#display {
  font-size: 50px;
  padding-right: 2.5%;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffb703;
  }
}

#display-window {
  margin-top: 60px;
  text-align: right;
  background-color: #79a2d8;
  border-style: inset;
  border-color: #8fb8de;
  border-width: 3px;
  width: 375px;
  position: absolute;
  left: 20px;
  border-radius: 15px;
}

.num-buttons {
  border: 3px;
  border-radius: 100%;
  margin: 5px;
  border-style: solid;
  border-color: white;
  background-color: #8fb8de;
  font-size: 32px;
  color: white;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.op-buttons {
  border: 3px;
  border-radius: 100%;
  margin: 5px;
  border-style: solid;
  border-color: white;
  background-color: #8fb8de;
  font-size: 50px;
  color: white;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

#equals {
  border: 3px;
  border-radius: 100%;
  margin: 5px;
  border-style: solid;
  border-color: white;
  background-color: #8fb8de;
  font-size: 50px;
  color: white;
  width: 90px;
  height: 90px;
  background-color: #4d4dff;
  cursor: pointer;
}

#C {
  border: 3px;
  border-radius: 100%;
  margin: 5px;
  border-style: solid;
  border-color: white;
  background-color: #ffb703;
  font-size: 42px;
  color: white;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

#button-0 {
  position: absolute;
  left: 10px;
  top: 550px;
}

#op-button-4 {
  position: absolute;
  left: 210px;
  top: 550px;
}

#equals {
  position: absolute;
  left: 310px;
  top: 550px;
}

#button-1 {
  position: absolute;
  left: 10px;
  top: 450px;
}

#button-2 {
  position: absolute;
  left: 110px;
  top: 450px;
}

#button-3 {
  position: absolute;
  left: 210px;
  top: 450px;
}

#button-4 {
  position: absolute;
  left: 10px;
  top: 350px;
}

#button-5 {
  position: absolute;
  left: 110px;
  top: 350px;
}

#button-6 {
  position: absolute;
  left: 210px;
  top: 350px;
}

#button-7 {
  position: absolute;
  left: 10px;
  top: 250px;
}

#button-8 {
  position: absolute;
  left: 110px;
  top: 250px;
}

#button-9 {
  position: absolute;
  left: 210px;
  top: 250px;
}

#C {
  position: absolute;
  left: 10px;
  top: 150px;
}

#op-button-5 {
  position: absolute;
  left: 110px;
  top: 150px;
  background-color: #4d4dff;
}

#op-button-6 {
  position: absolute;
  left: 210px;
  top: 150px;
  background-color: #4d4dff;
}

#op-button-2 {
  background-color: #4d4dff;
  position: absolute;
  left: 310px;
  top: 150px;
}

#op-button-3 {
  background-color: #4d4dff;
  position: absolute;
  left: 310px;
  top: 250px;
}

#op-button-0 {
  background-color: #4d4dff;
  position: absolute;
  left: 310px;
  top: 350px;
}

#op-button-1 {
  background-color: #4d4dff;
  position: absolute;
  left: 310px;
  top: 450px;
}
